html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

body {
  padding: 2rem 1.5rem;
  line-height: 1.5;
  color: #555;
}

.container {
  max-width: 32rem;
  margin: 0 auto;
  padding: 0;
}

.masthead .masthead-title,
.masthead .nav {
  text-align: center;
}

.masthead:after {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  margin: 3rem auto;
  background-color: #eee;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav li + li {
  margin-left: .5rem;
}

.masthead nav {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.masthead nav a {
  padding: 0 0.5em;
}

a:hover, a:focus {
  text-decoration: none;
}

@media (min-width: 34em) {
  .masthead-title {
    float: left;
  }
  .masthead .nav {
    text-align: right;
  }
}
