/* Custom CSS */

.masthead .masthead-title,
.masthead nav {
  text-align: center;
}

.masthead nav {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.masthead nav a {
  padding: 0 0.5em;
}

@media (min-width: 34em) {
  .masthead-title {
    float: left;
  }
  .masthead nav {
    text-align: right;
  }
}
